[Unit]
Description=Service to automate my google colab project.
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/sbin/automate.sh
WorkingDirectory=/home/asgaralipq/Work/Colab-Script/
StandardOutput=journal
StandardError=journal